<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <span class="bg-success">登録情報編集</span>
      </h2>
    </div>
  </div>
  <div class="row">
  	<%= form_for(@end_user) do |f| %>
			<table class="table">
				<tr>
					<td>名前</td>
					<td>
						<label for="family_name">(姓)</label>
						<%= f.text_field :family_name %>
					</td>
					<td>
						<label for="first_name">(名)</label>
						<%= f.text_field :first_name %>
					</td>
				</tr>
				<tr>
					<td>フリガナ</td>
					<td>
						<label for="family_name_kana">(セイ)</label>
						<%= f.text_field :family_name_kana %>
					</td>
					<td>
						<label for="first_name_kana">(メイ)</label>
						<%= f.text_field :first_name_kana %>
					</td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= f.text_field :email %></td>
				</tr>
				<tr>
					<td>郵便番号(ハイフンなし)</td>
					<td><%= f.text_field :postal_code %></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%= f.text_field :address %></td>
				</tr>
				<tr>
					<td>電話番号(ハイフンなし)</td>
					<td><%= f.text_field :phone_number %></td>
				</tr>
			</table>
			<div class="col-xs-offset-2 col-sm-10">
				<%= f.submit "編集内容を保存する", class:"btn btn-primary" %>
				<%= link_to "退会する", "/end_users/confirm", class:"btn btn-danger" %>
			</div>
		<% end %>
	</div>
</div>