<div class="container">
    <div class="col-xs-12">
      <h3 class="item-headline">マイページ</h3>
    </div>
    <div class="col-xs-12 user-info">
        <strong style="font-size: 18px;" class="col-xs-2">登録情報</strong>
        <%= link_to "編集する", edit_end_user_path,class:"btn btn-primary" %>
        <%= link_to "パスワード変更する", edit_end_user_registration_path, class:"btn btn-primary" %>
    </div>
    <div class="col-xs-6 user-info-table">
      <table class="table table-bordered">
        <tr>
          <td class="active">氏名</td>
          <td><%= @end_user.family_name %><%= @end_user.first_name %></td>
        </tr>
        <tr>
          <td class="active">カナ</td>
          <td><%= @end_user.family_name_kana %><%= @end_user.first_name_kana %></td>
        </tr>
        <tr>
          <td class="active">郵便番号</td>
          <td><%= @end_user.postal_code %></td>
        </tr>
        <tr>
          <td class="active">住所</td>
          <td><%= @end_user.address %></td>
        </tr>
        <tr>
          <td class="active">電話番号</td>
          <td><%= @end_user.phone_number %></td>
        </tr>
        <tr>
            <td class="active">メールアドレス</td>
            <td><%= @end_user.email %></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 user-info">
      <strong style="font-size: 18px;" class="col-xs-2">配送先</strong>
      <%= link_to "一覧を見る", shipping_addresses_path, class:"btn btn-primary" %>
    </div>
    <div class="col-xs-12 user-info">
      <strong style="font-size: 18px;" class="col-xs-2">注文一覧</strong>
      <%= link_to "一覧を見る", orders_path, class:"btn btn-primary" %>
    </div>
</div>