<div class="container main">
  <h3 class="item-headline">商品詳細</h3>
  <div class="item-detail">
    <div class="col-xs-4">
      <div class="items-image">
        <%= attachment_image_tag @item, :image, :fill, 300, 200, fallback: "no_image.jpg", size: '300x200' %>
      </div>
    </div>
    <div class="col-xs-8">
      <p class="item-introduction">商品名　　<span><%= @item.name %></span></p>
      <p class="item-introduction">商品説明　　<span><%= @item.introduction %></span></p>
      <p class="item-introduction">ジャンル　　<span><%= @item.genre.name %></span></p>
      <p class="item-introduction">税込価格（税抜価格）　　<span><%= @item.price_with_tax %>（<%= @item.price.to_s(:delimited) %>）円</span></p>
      <p class="item-introduction">販売ステータス　　<span><%= @item.is_on_sale? %></span></p>
    </div>
  </div>
  <div class="col-xs-offset-9">
    <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-primary" %>
  </div>
</div>

