<div class="container">
  <div class="page-title">
    <h4>ジャンル一覧・追加</h4>
  </div>
  <%= form_for [:admin, @genre] do |f| %>
    <% if @genre.errors.any? %>
      <div id="alert">
        <p>Genre name can't be blank</p>
      </div>
    <% end %>
    <%= f.label :name, "ジャンル" %>
    <%= f.text_field :name %>
    <%= f.radio_button :is_active, true %>
    <%= f.label :is_active, "有効" %>
    <%= f.radio_button :is_active, false %>
    <%= f.label :is_active, "無効" %>
    <%= f.submit "追加", class: "btn btn-primary" %>
  <% end %>

  <table class="table table-hover table-inverse">
    <thead class="thead-dark">
      <tr>
        <th>ジャンル</th>
        <th>状態</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td>
            <% if genre.is_active %>
              有効
            <% else %>
              無効
            <% end %>
          </td>
          <td>
            <%= link_to '編集する', edit_admin_genre_path(genre), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
