<div class="container">
	<h3 class="item-headline"> 配送先登録/一覧 </h3>
    <div class="form-horizontal shipping-form">
	  <%= form_for(@shipping_address) do |f| %>
	  <%= render 'public/shipping_addresses/errors', model: f.object %>
		  <div class="form-group">
			<%= f.label :postal_code, '郵便番号(ハイフンなし)', class:"col-xs-3" %>
			<%= f.text_field :postal_code, class:"col-xs-4" %>
		  </div>
		  <div class="form-group">
			<%= f.label :address, '住所', class:"col-xs-3" %>
			<%= f.text_field :address, class:"col-xs-6" %>
		  </div>
		  <div class="form-group">
			<%= f.label :name, '宛名', class:"col-xs-3" %></th>
			<%= f.text_field :name, class:"col-xs-4" %>
		  </div>
		  <div class="col-xs-offset-9">
		  	<%= f.submit '登録する', class: "btn btn-success" %>
		  </div>
	  <% end %>
	</div>
    <table class="table table-bordered shipping-form">
      <thead>
	    <tr class="active">
		  <th>郵便番号</th>
		  <th>住所</th>
		  <th>宛名</th>
		  <th></th>
		</tr>
	  </thead>
	  <tbody>
	  	<% @shipping_addresses.each do |shipping_address| %>
	    <tr>
	      <td width="150px" class="shipping-item"><%= shipping_address.postal_code %></td>
	      <td width="300px" class="shipping-item"><%= shipping_address.address %></td>
	      <td width="180px" class="shipping-item"><%= shipping_address.name %></td>
	      <td width="180px" align="center"><%= link_to "編集する", edit_shipping_address_path(shipping_address.id), class: "btn btn-info" %>
	      	  <%= link_to "削除する", shipping_address_path(shipping_address.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
  </div>
</div>