<div class="container">
  <div class="row">
    <table class="table-borderless">
      <thead>
	    <tr>
		  <th><h3>配送先登録/一覧</h3></th>
		</tr>
	  </thead>
	  <tbody>
	    <%= form_for(@shipping_address) do |f| %>
	    <%= render 'public/shipping_addresses/errors', model: f.object %>
		  <tr>
			<th>郵便番号(ハイフンなし)</th>
			<th><%= f.text_field :postal_code %></th>
		  </tr>
		  <tr>
			<th>住所</th>
			<th><%= f.text_field :address %><br></th>
		  </tr>
		  <tr>
			<th>宛名</th>
			<th><%= f.text_field :name %></th>
		  </tr>
		  <tr>
		  	<th></th>
		  	<th><%= f.submit '登録する', class: "btn btn-success active" %></th>
		  </tr>
		<% end %>
	  </tbody>
	</table>
  </div>

  <br><br>
  <div class="row">
    <table class="table-bordered">
      <thead>
	    <tr>
		  <th><h4>郵便番号</h4></th>
		  <th><h4>住所</h4></th>
		  <th><h4>宛名</h4></th>
		  <th></th>
		</tr>
	  </thead>
	  <tbody>
	  	<% @shipping_addresses.each do |shipping_address| %>
	    <tr>
	      <th><h4><%= shipping_address.postal_code %></h4></th>
	      <th><h4><%= shipping_address.address %></h4></th>
	      <th><h4><%= shipping_address.name %></h4></th>
	      <th><%= link_to "編集する", edit_shipping_address_path(shipping_address.id), class: "btn btn-info active" %>
	      	  <%= link_to "削除する", shipping_address_path(shipping_address.id), class: "btn btn-danger active", method: :delete, "data-confirm" => "本当に削除しますか？" %></th>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
  </div>
</div>