<div class="container">
	<div class="row">
		<!-- ジャンル検索サイドバー表示 -->
		 <%= render 'public/items/genre_search', genres: @genres %>
		<div class="col-xs-9">
		<!-- 画像背景 -->
			<div class="top-visual">
				<div class="top-text-visual">
					<p class="top-text">
					ようこそ、<strong>ながのCAKE</strong> へ！<br>
					このサイトは、ケーキ販売のECサイトになります。<br>
					会員でない方も商品の閲覧はできますが、<br>
					購入には会員登録が必要になります。<br>
					</p>
				</div>
			</div>

			<!-- オススメ商品の表示 -->
			<div class="recommendation">
			<h2 class="recommendation-head"><strong>オススメ商品</strong></h2>
			<% @items.each do |item| %>
      			<div class="item-wrapper">
        			<%= link_to item_path(item) do %>
          				<div class="item-image">
            			<%= attachment_image_tag item, :image, :fill, 150, 100, fallback: "no_image.jpg", size: '150x100' %>
         				</div>
          				<div class="item-description">
            				<p><%= item.name %></p>
            				<p>￥ <%= item.price_with_tax %></p>
          				</div>
        			<% end %>
      			</div>
    		<% end %>
    		<div class="col-xs-9 col-xs-offset-9">
    			<%= link_to 'もっと見る>', items_path %>
    		</div>
    		</div>
    	</div>
    </div>
</div>
