<div class="container">
  <div class="col-xs-12">
    <h2>注文情報確認</h2>
  </div>

    <%= form_with(model: @order, local: true) do |f| %>

  <div class="col-xs-8">
    <table class="table-bordered">
      <thead>
        <tr>
          <th><h4>商品名</h4></th>
          <th><h4>単価（税込）</h4></th>
          <th><h4>数量</h4></th>
          <th><h4>小計</h4></th>
        </tr>
      </thead>
      <tbody>
        <% sum_all = 0 %>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 40, 40, fallback: "no_image.jpg", :size => '80x60' %>
              <%= cart_item.item.name %></td>
            <th><%= cart_item.item.price_with_tax %></th>
            <th><%= cart_item.quantity %></th>
            <th><%= cart_item.sub_total.ceil.to_s(:delimited) %></th>
          </tr>
          <% sum_all += cart_item.sub_total %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-xs-4">
    <table class="table-bordered">
      <tr>
        <th>送料</th>
        <th><%= Order::POSTAGE %></th>
      </tr>
      <tr>
        <th>商品合計</th>
        <th><%= sum_all.ceil.to_s(:delimited) %></th>
      </tr>
      <tr>
        <th>請求金額</th>
        <th><% subtotal_price = sum_all + Order::POSTAGE %>
                <%= subtotal_price.ceil.to_s(:delimited) %></th>
      </tr>
    </table>
  </div>

  <div class="col-xs-12">
    <h3>支払方法</h3>
    <%= @order.payment_method %>
  </div>
  <div class="col-xs-12">
    <h3>お届け先</h3>
    <%= @order.postal_code %>
    <%= @order.address %>
    <%= @order.name %>
  </div>

    <%= f.hidden_field :end_user_id, :value => current_end_user.id %>
    <%= f.hidden_field :postal_code, :value => "#{@order.postal_code}" %>
    <%= f.hidden_field :address, :value => "#{@order.address}" %>
    <%= f.hidden_field :name, :value => "#{@order.name}" %>
    <%= f.hidden_field :subtotal_price, :value => sum_all %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>

  <div class="col-xs-4">
    <%= f.submit "購入を確定する", class: "btn btn-success active" %>
  </div>
  <% end %>
</div>