<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <span class="bg-success">注文履歴一覧</span>
      </h2>
    </div>
  </div>
</div>
<div class="col-xs-7">
	<table class="table">
    <thead class="thead-dark">
      <tr class="active">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>
	  <tbody>
			<% @orders.each do |order| %>
				<tr>
					<td><%= order.created_at %></td>
			 		<td><%= order.end_users.postal_code %><br>
			 			<%= order.end_users.address %><br>
			 			<%= order.end_users.family_name %><%= order.end_user.first_name %>
			 		 </td>
			 		<% order.items each do |item| %>
			  		<td><%= item.name %></td>
			  	<% end %>
			  	<%= order.subtotal_price+order.postage %>
			  	<td><%= order.status %></td>
			  	<td><%= link_to "表示する", order_path(order), class:"btn btn-primary" %></td>
			  </tr>
			<% end %>
	  </tbody>
	</table>
</div>