<div class="container">
    <div class="col-xs-8">
        <h3 class="item-headline">注文履歴一覧</h3>
    </div>
    <div class="col-xs-12">
		<table class="table table-bordered order-table">
	    <thead class="thead-dark">
	      <tr class="active">
	        <th>注文日</th>
	        <th>配送先</th>
	        <th>注文商品</th>
	        <th>支払金額</th>
	        <th>ステータス</th>
	        <th>注文詳細</th>
	      </tr>
	    </thead>
		  <tbody>
				<% @orders.each do |order| %>
					<tr>
						<td class="order-item"><%= order.created_at %></td>
				 		<td class="order-item">〒<%= order.postal_code %><br>
				 			<%= order.address %><br>
				 			<%= order.name %>
				 		</td>
			 			<td class="order-item">
			 				<% order.items.each do |item| %>
			  					<%= item.name %><br>
			  				<% end %>
			  			</td>
				  		<td class="order-item"><%= order.subtotal_price+order.postage %>円</td>
				  	<td class="order-item"><%= order.status %></td>
				  	<td class="order-item"><%= link_to "表示する", order_path(order), class:"btn btn-primary" %></td>
				  </tr>
				<% end %>
		  </tbody>
		</table>
		<%= paginate @orders %>
	</div>
</div>