<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <span class="bg-success">注文履歴詳細</span>
      </h2>
    </div>
  </div>
</div>
<!-- 注文情報 -->
<div class="col-xs-7">
	<table class="table">
    <thead>
    	<tr>
    		<th>注文情報</th>
    		<th colspan="3"></th>
    	</tr>
    </thead>
    <tbody>
			<tr>
				<td class="active">注文日</td>
				<td><%= @order.created_at %></td>
			</tr>
			<tr>
				<td class="active">配送先</td>
		 		<td><%= @order.end_users.postal_code %><br>
		 			<%= @order.end_users.address %><br>
		 			<%= @order.end_users.family_name %><%= order.end_user.first_name %>
		 		</td>
		 	</tr>
		 	<tr>
	  		<td class="active">支払方法</td>
	  		<td><%= @order.payment_method %></td>
		  </tr>
	  	<tr>
	  		<td class="active">ステータス</td>
	  		<td><%= @order.status %></td>
	    </tr>
    </tbody>
	</table>
</div>
<!-- 注文内容 -->
<div class="col-xs-7">
	<table class="table">
    <thead>
    	<tr>
    		<th>注文内容</th>
    		<th colspan="3"></th>
    	</tr>
    </thead>
    <tbody>
			<tr class="active">
				<td>商品</td>
				<td>単価(税込)</td>
				<td>個数</td>
				<td>小計</td>
			</tr>
			<tr>
				<% @order.items each do |item| %>
			 		<td><%= item.name %></td>
			 		<td><%= item.price %></td>
		 			<td><%= item.count %></td>
		 			<td><%= item.price*item.count %></td>
	 			<% end %>
		 	</tr>
		</tbody>
	</table>
</div>
<!-- 請求情報 -->
<div class="col-xs-7">
	<table class="table">
    <thead>
    	<tr class="active">
    		<th>請求情報</th>
    	</tr>
    </thead>
	  <tbody>
			<tr>
				<td  class="active">商品合計</td>
				<td><%= @order.subtotal_price %></td>
			</tr>
			<tr>
				<td class="active">配送料</td>
				<td><%= @order.postage %></td>
			</tr>
			<tr>
				<th class="active">ご請求金額</th>
				<td><%= @order.subtotal_price+@order.postage %></td>
			</tr>
		</tbody>
	</table>
</div>